body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3{
    flex: 25%!important;
}