@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

button{
    margin:20px 0;
    border:1px solid #FFEAC0;
    padding:10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #F8C052;
    border-style: transparent;
}
