.detail-innerwrap{
    width:95%;
    margin: 0 auto 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    display: flex;
    padding:10px;
}
.detail-product-left img {
    width: 300px;
    object-fit: cover;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
}
.detail-product-right .product-name{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.detail-product-right .price{
    font-size: 22px;
}
.detail-product-right .saleprice{
    color:#D8401E;
    font-size: 20px;
}
.detail-product-right .desc{
    font-size: 14px;
    margin-top:10px;
}
