.content_pagging{
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    margin:16px 0 24px 0;
}
.number-pages{
    display: flex;
    column-gap: 10px;
    
}
.number-pages li a{
    color: #000;
}
.content_pagging li {
    list-style: none ;
    margin: 0px 5px;
}

.content_pagging li a{
    text-decoration: none;
}

.btn-left{
    cursor: pointer;
}
.btn-right{
    cursor: pointer;
}