

/* header */
header{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    padding:0 30px 0 20px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    top:0%;
    left:30px;
    right:30px;
    z-index: 5;

}
header h1{
    color:#F8C052;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}
header .menu{
    display: flex;
    align-items: center;
    gap:40px;
    font-size: 18px;
    font-weight: 600;
}
header .menu div{
    cursor: pointer;
}
header .menu .active{
    color:#F8C052;
}
header .shopping{
    position: relative;
    text-align: right;
}

header .shopping i{
    font-size: 3rem;
    color: #F8C052;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

header .shopping span{
    position: absolute;
    top: -5px;
    left: 80%;
    background: red;
    padding: 3px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu div:hover{
    color:#F8C052;
}
/* end header */

/* ---------------- */
/* cart */
.card{
    position: fixed;
    top: 0;
    left: 100%; 
    width: 500px;
    height: 100vh;
    background-color: #dadada;
    border-left: 1px solid #7842b6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 10;
}

.active .card{
    left: calc(100% - 500px);
}

.active .container{
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.card h1{
    color: #560bad;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card .checkOut div{
    background-color: #560bad;
    color: #efefef;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1c1f25;
    color: #efefef;
}

.container .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 20px;
    margin-top: 50px;
}

.list .item{
    text-align: center;
    background-color: #23324c;
    padding: 20px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    letter-spacing: 1px;
    transition: all 0.25s ease ;
    -webkit-transition: all 0.25s ease ;
    -moz-transition: all 0.25s ease ;
    -ms-transition: all 0.25s ease ;
    -o-transition: all 0.25s ease ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}

.list .item:hover{
    background-color: #1d2940;
}

.list .item img{
    width: 90%;
    height: 250px;
}

.list .item .title{
    font-weight: 600;
    color: #efefef;
}

.list .item .price{
    margin: 10px;
    color: #efefef;
}

.list .item button{
    background-color: #35496f;
    color: #efefef;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 3px solid #efefef;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.list .item button:hover{
    background-color: #430986;
    color: #efefef;
}

/* ---------------------- */

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}

.listCard .count{
    margin: 0 10px;
    color: #1c1f25;
    font-size: 1.2rem;
}

.cardTitle, .cardPrice{
    color: #1c1f25;
}

.cardButton{
    width: 28px;
    height: 28px;
    color: #efefef;
    font-size: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* End cart */
/* product */
.content__product{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap:30px;
    position: relative;
    margin-bottom: 10px;
}
.content__product-item{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:calc(100% /3 - 60px/3);
    aspect-ratio: 1/1;
}
.content__product-item img{
    object-fit:cover;
    width:80%;
    border-radius: 30px;
    cursor: pointer;
}
.content__product-item:hover > span{
    display: block;
}
.content__product-item .detail{
    display: none;
    position: absolute;
    left:50%;
    transform: translate(-40px,-40px);
    padding: 10px;
    background-color: #F8C05280;
    border-radius: 20px;
    cursor: pointer;
}
.content__product-item button{
    margin:20px 0;
    border:1px solid #FFEAC0;
    padding:10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.content__product-item button:hover{
    background-color: #F8C052;
    border-style: transparent;
}
/* end product */